Final.json
[{"id":"bf9e64f6.e0b008","type":"tab","label":"Trabalho Final","disabled":false,"info":""},{"id":"bfc83e49.2addf","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 5","tooltip":"","group":"d16e1e72.cbb71","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":380,"wires":[["6fde129e.f2e56c"]]},{"id":"71e0fe25.91ee8","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 6","tooltip":"","group":"d16e1e72.cbb71","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":420,"wires":[["7057d0ab.401d1"]]},{"id":"a4dc0413.869938","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 4","tooltip":"","group":"d16e1e72.cbb71","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":340,"wires":[["6a3e89e4.2889f8"]]},{"id":"3a6bdfa5.df99e","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 7","tooltip":"","group":"d16e1e72.cbb71","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":460,"wires":[["31cbd3fd.ea9b5c"]]},{"id":"da1da158.bfb43","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 3","tooltip":"","group":"d16e1e72.cbb71","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":300,"wires":[["4db45f31.677ed"]]},{"id":"2df93cf9.fa3a84","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 2","tooltip":"","group":"d16e1e72.cbb71","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":260,"wires":[["3ad5312.3ff7fce"]]},{"id":"2ce94715.941f98","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 8","tooltip":"","group":"d16e1e72.cbb71","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":500,"wires":[["5301a7bc.5dc718"]]},{"id":"d13455a0.772938","type":"ui_switch","z":"bf9e64f6.e0b008","name":"","label":"Poste 1","tooltip":"","group":"d16e1e72.cbb71","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":220,"wires":[["e1a4c35d.481e9"]]},{"id":"6cc5ef04.8cc79","type":"ui_template","z":"bf9e64f6.e0b008","group":"d16e1e72.cbb71","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":100,"wires":[[]]},{"id":"e1a4c35d.481e9","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 1","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":220,"wires":[]},{"id":"3ad5312.3ff7fce","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 2","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":260,"wires":[]},{"id":"4db45f31.677ed","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 3","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":300,"wires":[]},{"id":"6a3e89e4.2889f8","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 4","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":340,"wires":[]},{"id":"6fde129e.f2e56c","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 5","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":380,"wires":[]},{"id":"7057d0ab.401d1","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 6","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":420,"wires":[]},{"id":"31cbd3fd.ea9b5c","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 7","qos":"","retain":"","broker":"4b22722.a9f608c","x":760,"y":460,"wires":[]},{"id":"5301a7bc.5dc718","type":"mqtt out","z":"bf9e64f6.e0b008","name":"","topic":"Poste 8","qos":"0","retain":"","broker":"4b22722.a9f608c","x":760,"y":500,"wires":[]},{"id":"c055ef65.56092","type":"ui_button","z":"bf9e64f6.e0b008","name":"","group":"ed2bb814.d31c28","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":290,"y":360,"wires":[["d13455a0.772938","2df93cf9.fa3a84","da1da158.bfb43","a4dc0413.869938","bfc83e49.2addf","3a6bdfa5.df99e","2ce94715.941f98","71e0fe25.91ee8"]]},{"id":"d16e1e72.cbb71","type":"ui_group","z":"","name":"Controle de Postes","tab":"7eb6c70.347bb38","order":2,"disp":true,"width":"6","collapse":false},{"id":"4b22722.a9f608c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ed2bb814.d31c28","type":"ui_group","z":"","name":"Reset de todos os postes","tab":"7eb6c70.347bb38","order":1,"disp":true,"width":"6","collapse":false},{"id":"7eb6c70.347bb38","type":"ui_tab","z":"","name":"Controle de postes do NCE","icon":"dashboard","order":2,"disabled":false,"hidden":false}]